{{!-- Community Footer --}}
<div class="community-footer">
  <div class="container">
    <p style="font-size:22px;">Didn’t find what you’re looking for?</p>
    <h1 style="font-size:34px;">Join the Conversation.</h1>
    <span class="post-to-community">
      <a class="footer-create-a-post button button-large" href="/hc/en-us/community/posts/new">Create a post</a>
    </span>
    <br>
  <svg style="margin-top:20px;" width="143" height="27" viewBox="0 0 143 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 22.3669L142.193 0L143 4.7929L0.806998 27" fill="url(#paint0_linear_407:148)"/>
<defs>
<linearGradient id="paint0_linear_407:148" x1="29.1209" y1="55.4564" x2="112.994" y2="-29.2761" gradientUnits="userSpaceOnUse">
<stop stop-color="#00C2D3"/>
<stop offset="1" stop-color="#FFA650"/>
</linearGradient>
</defs>
</svg>
  </div>
</div>
{{!-- request callout --}}
<div class="request-callout">
  <div class="container">
    <svg id="footer-image" width="143" height="27" viewBox="0 0 143 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 22.3669L142.193 0L143 4.7929L0.806998 27" fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="29.1209" y1="55.4564" x2="112.994" y2="-29.2761" gradientUnits="userSpaceOnUse">
          <stop stop-color="#00C2D3" />
          <stop offset="1" stop-color="#FFA650" />
        </linearGradient>
      </defs>
    </svg>

    <p>Didn’t find what you’re looking for? Click the button below to contact our Support Team.</p>
    <a href="/hc/requests/new" class="button button-large">Submit a Ticket </a>
  </div>
</div>
<footer>
  <div class="footer">
    <div class="container">
      <div class="footer__left p-t-1 p-r-3 p-b-1 p-l-0">
        <h4 class="footer__header">
          <a href="/"><img loading="lazy" class="watermark" src="https://addigy.com/wp-content/uploads/2019/10/Addigy-Isotype_Black_200x158.png" alt="watermark"></a> About Addigy
        </h4>
        <p>There is a change happening in the world.<br>
          Businesses are adopting Apple technology at a rapid pace.</p>
        <p>Visionary individuals in every department are using their beloved Apple devices to generate bold ideas, inspire change and pioneer a better future.</p>
        <p>Addigy was created to help companies adapt to this change; to amplify their productivity and empower people to do great things.</p>
        <p><strong>We are Addigy, software for Difference-Makers</strong></p>
      </div>
      <div class="footer__right p-t-2 p-r-2 p-b-2">
        <div class="footer_columns">
          <div class="footer__column">
            <h4 class="footer__header">Company</h4>
            <ul>
              <li><a href="https://addigy.com/mdm/">Product</a></li>
              <li><a href="https://addigy.com/pricing/">Pricing</a></li>
              <li><a href="https://addigy.com/contact-us/">Contact Us</a></li>
              <li><a href="https://addigy.com/partners">Partners</a></li>
              <li><a href="https://addigy.com/news">News</a></li>
              <li><a href="https://addigy.com/events/">Events</a></li>
              <li><a href="https://addigy.com/blog/">Blog</a></li>
              <li><a href="https://addigy.com/careers/">Careers</a></li>
              <li><a href="https://addigy.com/about-us/">About Us</a></li>
            </ul>
          </div>
          <div class="footer__column">
            <h4 class="footer__header">Support</h4>
            <ul>
              <li><a href="https://support.addigy.com">Help Center</a></li>
              <li><a href="https://addigy.com/training">Training</a></li>
              <li><a href="https://academy.addigy.com">Addigy Academy</a></li>
              <li><a href="https://releases.addigy.com/">Release Notes</a></li>
              <li><a href="https://addigy.com/security">Security</a></li>
              <li><a href="https://addigy.com/support-policy">Support Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="p-t-4 p-b-2">
          <div class="socialLinks p-b-2">
            <div class="socialLinks__single">
              <a href="https://www.facebook.com/addigy/" target="_blank">
                <span class="sr-only">Facebook (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2019/10/facebook_60.png" alt="">
              </a>
            </div>
            <div class="socialLinks__single">
              <a href="https://twitter.com/addigy" target="_blank">
                <span class="sr-only">Twitter (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2019/10/twitter_60.png" alt="">
              </a>
            </div>
            <div class="socialLinks__single">
              <a href="https://www.youtube.com/channel/UCddhst72mUQXJxHKnI74k5A" target="_blank">
                <span class="sr-only">YouTube (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2019/10/youtube_60.png" alt="">
              </a>
            </div>
            <div class="socialLinks__single">
              <a href="https://www.linkedin.com/company/addigy-technology" target="_blank">
                <span class="sr-only">LinkedIn (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2019/10/linkedin_60.png" alt="">
              </a>
            </div>
            <div class="socialLinks__single">
              <a href="https://www.instagram.com/addigy/" target="_blank">
                <span class="sr-only">Instagram (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2019/10/instagram_60.png" alt="">
              </a>
            </div>
            <div class="socialLinks__single">
              <a href="https://app.slack.com/client/T04QVKUQG/C0JP3M6MB" target="_blank">
                <span class="sr-only">Slack (Opens in new window)</span>
                <img loading="lazy" src="https://addigy.com/wp-content/uploads/2020/01/Slack_black_60.png" alt="">
              </a>
            </div>
          </div>
          <div class="m-b-1">
            <a href="https://addigy.com/privacy-policy/">Privacy</a>
            <span class="pipe">&nbsp;|&nbsp;</span>
            <a href="https://addigy.com/legal/">Legal</a>
          </div>
          <div class="copyright__text">
            ©2021&nbsp;Addigy. All Rights Reserved. </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{!-- javascript libraries --}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{{!-- Status iO --}}
<script src="https://cdn.statuspage.io/se-v2.js"></script>
<script type="text/javascript">
// Status.io ---------------------------------------------------------------- */
var sp = new StatusPage.page({
  page: 'ynwjrw9b4wnq'
});
sp.summary({
  success: function(data) {
    console.log(data);

    var status = data.status.description;
  
    // Dynamic fields for translation

    // All Systems Operational (green)
    // Major System Outage (red)
    // Partial System Outage (orange)
    // Minor Service Outage (yellow)
    // Degraded System Service (yellow)
    // Partially Degraded Service (yellow)
    // Service Under Maintenance (blue)

    // Otherwise mark accordingly
    switch (status) {

      case 'Partial System Outage':
        $('.status-io a').text(status).parent().addClass('status-outage');
        break;

      case 'Degraded System Service':
        $('.status-io a').text(status).parent().addClass('status-minor');
        break;

      case 'Partially Degraded Service':
        $('.status-io a').text(status).parent().addClass('status-minor');
        break;

      case 'Service Under Maintenance':
        $('.status-io a').text(status).parent().addClass('status-scheduled');
        break;

      case 'Major System Outage':
        $('.status-io a').text(status).parent().addClass('status-major');
        break;

      case 'Minor Service Outage':
        $('.status-io a').text(status).parent().addClass('status-minor');
        break;

      default:
        $('.status-io a').text(status).parent().addClass('status-ok');
        break;

    }
  }
});
// END Status.io -------------------------------------------------------------------------- */

</script>
